.check h2 {
    border: 1px solid rgb(17, 17, 17);
    padding: 5px;
    text-align: center;
    color: rgb(13, 8, 19);
}
.colored {
    color: rgb(89, 5, 245);
  transition: color 0.3s;
}
.checked-box {
  background-color: #ffe9e9;
  border: 2px solid red;
  transition: all 0.3s;
  color: blueviolet;
}